---
import GitHubIcon from "../components/icons/GitHub.astro";
import SocialPill from "../components/SocialPill.astro";
import NextJS from "./icons/NextJS.astro";
import Tailwind from "./icons/Tailwind.astro";
import Astro from "./icons/AstroIcon.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  ASTRO: {
    name: "Astro",
    class: "bg-[#003159] text-white",
    icon: Astro,
  },
};

const PROJECTS = [
  {
    title: "Spotify Clone",
    description:
      "Este es un clon de la popular aplicación Spotify con algunos ajustes. Está construido completamente con Astro entre otras tecnologias.",
    link: "#",
    github: "https://github.com/JersonP2107/spotify-clone",
    image: "/projects/clon.png",
    tags: [],
  },
];
---

{
  PROJECTS.map(({ image, title, description, tags }) => (
    <article>
      <h3 class="text-2xl font-semibold text-transparent font-semibold  bg-clip-text bg-gradient-to-r from-purple-500 to-orange-400 mb-2">
        {title}
      </h3>
      <p class="text-lg lg:text-xl text-pretty max-w-[700px] text-pretty">
        {description}
      </p>
      <nav class="flex py-3 flex-wrap pb-2">
        <SocialPill href="https://github.com/JersonP2107/spotify-clone">
          <GitHubIcon class="w-4 h-4 md:w-6 md:h-6" />
          Repositorio
        </SocialPill>
      </nav>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10 aspect-video "
        src={image}
        alt={`Captura de pantalla del proyecto ${image}`}
      />
    </article>
  ))
}
